# Copia estos valores a tu .env local (el .env NO se sube al repo)
PORT=3000
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=caja_cigarreria
FRONT_URL=http://localhost:4200
